{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سبد خرید</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap_basket.min.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <script src="{% static 'assets/js/all.js' %}"></script>
</head>

<body>
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="row w-100">
                <div class="col-lg-12 col-md-12 col-12">
                    <h3 class="display-5 mb-2 text-center">سبد خرید</h3>
                    <p class="mb-5 text-center">
                        محصول در سبد خرید شما : <i class="text-info font-weight-bold">{{items_count}}</i></p>
                    <form action="" method="post" class="table-responsive">
                        {% csrf_token %}
                        <table id="shoppingCart" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:auto"class="text-left">محصول</th>
                                    <th style="width:20%"class="text-center">(تومان) قیمت</th>
                                    <th style="width:10%" class="text-center">تعداد</th>
                                    <th style="width:10%"class="text-center">حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in basket_items %}
                                    <tr>
                                        <td data-th="Product">
                                            <div class="row">
                                                <div class="col-md-2 text-center">
                                                    <a href="{% url 'phones:detail' id=item.phone.id %}" target="_blank">
                                                        <img src={{item.phone.image.url}} alt="s20"
                                                        class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                                    </a>
                                                </div>
                                                <div class="col-md-9 text-left mt-sm-2">
                                                    <h4>{{item.phone.brand}} {{item.phone.name}}</h4>
                                                </div>
                                            </div>
                                        </td>
                                        <td data-th="Price" class="text-center font-weight-bold" style="padding-top: 5.2%;">{{item.phone.price}}</td>
                                        <td data-th="Quantity" style="padding-top: 4%;">
                                            <input type="number" name={{item.phone.id}} class="form-control form-control-lg text-center" value={{item.count}}
                                                >
                                        </td>
                                        <td class="actions" data-th="" style="padding-top: 4.5%;">
                                            <div class="text-center">
                                                <a class="btn btn-white bg-white btn-md mb-2 text-danger"
                                                href="{% url 'basket:removephone' phone_id=item.phone.id %}">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-center">
                            <button class="btn btn-white bg-white btn-md mb-1 text-success"
                                type="submit" name='save' value="save" {% if items_count == 0 %} disabled {% endif %}>
                                ذخیره تغییرات
                                <i class="fas fa-sync"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-1 d-flex align-items-center justify-content-center">
                <div class="col-10 col-sm-6  mx-auto">
                    <div class="d-flex flex-row-reverse">
                        <h4 class="mt-2 ml-2">:جمع مبالغ خرید</h4>
                        <h3 class="mt-2 ml-2">{{total_price}}</h3>
                    </div>
                    <button class="btn btn-primary mb-4 btn-lg px-5" {% if items_count == 0 %} disabled {% endif %}>تایید و پرداخت</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                    <a href="{% url 'web:shop' %}">
                        <i class="fas fa-arrow-left mr-2"></i>بازگشت به فروشگاه</a>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <!-- script js -->
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>
