{% load static %}
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <title>صفحه ی اصلی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-grid.min.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <script src="{% static 'assets/js/all.js' %}"></script>
</head>

<body class="rtl">
    <div class="container-fluid my-1">
        <button class="btn d-inline-block d-md-none " data-toggle="modal" data-target="#exampleModalLong">
            <span>
                <i class="fas fa-search"></i>
            </span>
        </button>
        <!-- modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content border-0 mt-5" style="background: transparent;">
                    <div class="modal-body mx-auto">
                        <form action="" class="form-group ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend ">
                                    <button class="btn" type="submit" id="" style="background: #ffffff;">
                                        <span>
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                                <input type="search" class="form-control p-4" placeholder=""
                                    aria-label="Example text with button addon" aria-describedby="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- endmodal -->
        {% if user.is_authenticated %}
            <button class=" btn btn-default border-0 dropdown-toggle mx-2" data-toggle="dropdown"
                style="background: transparent;">
                <i class="fas fa-user fa-lg"></i>
            </button>
            <div class="dropdown-menu">
                <a href="{% url 'basket:home' %}" class="dropdown-item"> سبد خرید</a>
                <a href="#" class="dropdown-item">پروفایل</a>
                {% if user.is_superuser or user.is_staff %}
                    <a href="{% url 'admin:index' %}" class="dropdown-item">پنل مدریت</a>
                {% endif %}
                <a href="{% url 'users:logout' %}" class="dropdown-item">خروج</a>
            </div>
            <!--  -->
            <a href="{% url 'basket:home' %}" class="nav-icon mx-2" title="سبد خرید">
                <i class="fa fa-shopping-cart"></i>
            </a>
        {% else %}
            <div class="navbar justify-content-start d-inline-block">
                <button class="btn py-0 m-0 px-3 sign-btn">
                    <a class="nav-item nav-link d-inline-block text-white" href="{% url 'users:register' %}">ثبت نام</a>
                </button>
                <button class="btn py-0 m-0 px-3 login-btn">
                    <a class="nav-item nav-link d-inline-block" href="{% url 'users:login' %}">ورود</a>
                </button>
            </div>
        {% endif %}
        <!-- socials -->
        <div class="nav-icons float-left d-md-inline-block d-none ">
            <a href="#" class="nav-icon">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="nav-icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="nav-icon">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <!-- socialsend -->
    </div>
    <!-- menu =============================== -->
    <div>
        <nav class="navbar navbar-dark navbar-expand-sm" style="background-color: var(--mainred);">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mycollapse"
                    aria-controls="mycollapse" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="mycollapse">
                    <div class="navbar-nav mx-auto">
                        <a class="nav-item nav-link active" href="{% url 'web:home' %}">خانه</a>
                        <a class="nav-item nav-link " href="{% url 'web:shop' %}">فروشگاه</a>
                        <a class="nav-item nav-link" href="{% url 'web:contactus' %}">ارتباط با ما</a>
                    </div>
                    <form class="form-inline my-2 my-lg-0 d-md-inline-block d-none">
                        <input class="form-control mr-sm-2 mt-3" type="text" placeholder="جست‌وجو">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">جست‌وجو</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>


    <!-- end menu ================================= --> 
    <!-- carousel -->
    <div class="container">
        <div class="row my-5">
            <div class="col-md-10 mx-auto">
                <div id="carousel-example" class="carousel slide justify-content-center" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                        <li data-target="#carousel-example" data-slide-to="3"></li>
                        <li data-target="#carousel-example" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        {% for phone in phones %}
                            {% if forloop.counter0 == 0 %}
                                <div class="carousel-item active">
                            {% else %}
                                <div class="carousel-item">
                            {% endif %}
                                <img src={{phone.image.url}} class="img-fluid" alt="First slide" />
                                <div class="carousel-caption float-right text-left text-dark d-none d-md-block">
                                    <h3>{{phone.brand}} {{phone.name}}</h3>
                                    <p><a class="btn btn-clear btn-sm btn-min-block" href="{% url 'phones:detail' id=phone.id %}" target="_blank">جزییات بیشتر</a></p>
                                    
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control-prev text-danger" href="#carousel-example" role="button"
                        data-slide="prev">
                        <span class="fa fa-arrow-left " aria-hidden="true"></span>
                    </a>
                    <a class="right carousel-control-next text-danger" href="#carousel-example" role="button"
                        data-slide="next">
                        <span class="fa fa-arrow-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Contact Section -->
    <section class="contact py-5 my-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto col-md-6">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control contact-input p-3" placeholder="ایمیل">
                            <button type="submit" class="btn btn-outline-secondary btn-block contact-btn">عضویت در
                                خبرنامه</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--EndContact Section -->
    <!--Footer-->
    <footer class="footer pt-3 pb-5 mb-0">
        <div class="container">
            <div class="connect ml-3">
                <p>
                    <span class="footer-icon"><i class="fas fa-map-marker-alt"></i></span>
                    <span>مازندران</span>
                </p>
                <p>
                    <span class="footer-icon"><i class="fas fa-mobile-alt"></i></span>
                    <span>09123456789</span>
                </p>
                <p>
                    <span class="footer-icon"><i class="fas fa-phone"></i></span>
                    <span>01123456789</span>
                </p>
            </div>
            <hr class="bg-white">
            <div class="footer-icons d-flex justify-content-around">
                <a href="#" class="footer-icon">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" class="footer-icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="footer-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="footer-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" class="footer-icon">
                    <i class="fab fa-google-plus"></i>
                </a>
            </div>
        </div>

    </footer>
    <!-- End Footer-->
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <!-- script js -->
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>
