{% load static %}
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <title>{{instance.brand}} {{instance.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-grid.min.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <script src="{% static 'assets/js/all.js' %}"></script>
</head>

<body>
    <div class="container-fluid my-1">
        <button class="btn d-inline-block d-md-none " data-toggle="modal" data-target="#exampleModalLong">
            <span>
                <i class="fas fa-search"></i>
            </span>
        </button>
        <!-- modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content border-0 mt-5" style="background: transparent;">
                    <div class="modal-body mx-auto">
                        <form action="" class="form-group ">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend ">
                                    <button class="btn" type="submit" id="" style="background: #ffffff;">
                                        <span>
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                                <input type="search" class="form-control p-4" placeholder=""
                                    aria-label="Example text with button addon" aria-describedby="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- endmodal -->
        {% if user.is_authenticated %}
            <button class=" btn btn-default border-0 dropdown-toggle mx-2" data-toggle="dropdown"
                style="background: transparent;">
                <i class="fas fa-user fa-lg"></i>
            </button>
            <div class="dropdown-menu">
                <a href="{% url 'basket:home' %}" class="dropdown-item"> سبد خرید</a>
                <a href="#" class="dropdown-item">پروفایل</a>
                {% if user.is_superuser or user.is_staff %}
                    <a href="{% url 'admin:index' %}" class="dropdown-item">پنل مدریت</a>
                {% endif %}
                <a href="{% url 'users:logout' %}" class="dropdown-item">خروج</a>
            </div>
            <!--  -->
            <a href="{% url 'basket:home' %}" class="nav-icon mx-2" title="سبد خرید">
                <i class="fa fa-shopping-cart"></i>
            </a>
        {% else %}
            <div class="navbar justify-content-start d-inline-block">
                <button class="btn py-0 m-0 px-3 sign-btn">
                    <a class="nav-item nav-link d-inline-block text-white" href="{% url 'users:register' %}">ثبت نام</a>
                </button>
                <button class="btn py-0 m-0 px-3 login-btn">
                    <a class="nav-item nav-link d-inline-block" href="{% url 'users:login' %}">ورود</a>
                </button>
            </div>
        {% endif %}
        <!-- socials -->
        <div class="nav-icons d-md-inline-block d-none float-left">
            <a href="#" class="nav-icon">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="nav-icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="nav-icon">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <!-- socialsend -->
    </div>
    <!-- menu =============================== -->
    <div>
        <nav class="navbar navbar-dark navbar-expand-sm" style="background: #EB5E28;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mycollapse"
                    aria-controls="mycollapse" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="mycollapse">
                    <div class="navbar-nav mx-auto">
                        <a class="nav-item nav-link " href="{% url 'web:home' %}">خانه</a>
                        <a class="nav-item nav-link " href="{% url 'web:shop' %}">فروشگاه</a>
                        <a class="nav-item nav-link" href="{% url 'web:contactus' %}">ارتباط با ما</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- end menu ================================= -->

    <!-- card product -->
    <div class="container">
        <div class="row py-5">
            <div class=" col-10 col-md-6 col-lg-5 mx-auto">
                <div class="card">
                    <img src={{instance.image.url}} alt="note20" class="card-img-top img-fluid">
                    <div class="card-body ">
                        <div class="d-flex justify-content-between py-2 flex-wrap">
                            <h5 class="card-title font-weight-bold">{{instance.brand}}&nbsp;&nbsp;{{instance.name}}</h5>
                            <h6 class="card-subtitle align-self-center py-2 px-3 phone-price">
                                {% if instance.is_available %}
                                    <span class="value js__price">{{instance.price}} تومان</span>
                                {% else %}
                                    <span class="value">ناموجود</span>
                                {% endif %}
                            </h6>
                        </div>
                    </div>
                    <div class="card-footer p-0 d-none d-md-block">
                        <!-- Question Section -->
                        <div class="row p-0 m-0">
                            <!-- single question first -->
                            {% if instance.is_available %}
                                <div class="col-12 card-red p-md-3 p-2">
                                    <a href="{% url 'basket:addphone' phone_id=instance.id  %}" class="card-icon d-flex justify-content-center">
                            {% else %}
                                <div class="col-12 bg-secondary p-md-3 p-2">
                                    <a style="pointer-events: none; cursor: default;" class="card-icon d-flex justify-content-center">
                            {% endif %}
                                        <i class="fas fa-cart-arrow-down fa-fw"></i>
                                        <h6 class="buy-title font-weight-bold">
                                            افزودن به سبد خرید
                                        </h6>
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end card product -->

        <!-- tabs -->
        <div class="row my-5">
            <div class="col-12 col-md-10 mx-auto">
                <nav>
                    <div class="nav nav-tabs mb-2" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                            role="tab" aria-controls="nav-home" aria-selected="true">مشخصات</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                            role="tab" aria-controls="nav-profile" aria-selected="false">امتیاز</a>
                        <a class="nav-item nav-link" id="nav-comment-tab" data-toggle="tab" href="#nav-comment"
                            role="tab" aria-controls="nav-comment" aria-selected="false">نظرات</a>
                    </div>
                </nav>
                <div class="tab-content p-2 bg-light" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <ul class="text-justify">
                            <li>
                                <ul>
                                    <li><span class="font-weight-bold">تاریخ تولید:</span>
                                        {{instance.date|default_if_none:''}}</li>
                                    <li>
                                        {{instance.about|default_if_none:''}}</li>
                                </ul>
                                <hr>
                            </li>
                            <li><h5>بدنه</h5>
                                <ul>
                                    <li><span class="font-weight-bold">ابعاد:</span>
                                        {{instance.body_size|default_if_none:''}}</li>
                                    <li><span class="font-weight-bold">وزن:</span>
                                        {{instance.body_weight|default_if_none:''}}</li>
                                    <li><span class="font-weight-bold">ساختار:</span>
                                        {{instance.body_structure|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">رنگ‌بندی:</span>
                                        {{instance.body_colors|default_if_none:''}}
                                    </li>
                                    {% if instance.body_other %}
                                    <li><span class="font-weight-bold">سایر:</span>
                                        {{instance.body_other}}
                                    </li>
                                    {% endif %}
                                </ul>
                                <hr>
                            </li>
                            <li><h5>نمایشگر</h5>
                                <ul>
                                    <li><span class="font-weight-bold">نوع:</span>
                                        {{instance.display_type|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">وضوح:</span>
                                        {{instance.display_quality|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">رنگ:</span>
                                        {{instance.display_colors|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">ابعاد:</span>
                                        {{instance.display_size|default_if_none:''}}
                                    </li>
                                    {% if instance.display_other %}
                                    <li><span class="font-weight-bold">سایر:</span>
                                        {{instance.display_other}}
                                    </li>
                                    {% endif %}
                                </ul>
                                <hr>
                            </li>
                            <li><h5>سخت افزار</h5>
                                <ul>
                                    <li><span class="font-weight-bold">پردازنده اصلی:</span>
                                        {{instance.hardware_cpu|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">پردازنده گرافیکی:</span>
                                        {{instance.hardware_gpu|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">حافظه رم:</span>
                                        {{instance.hardware_ram|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">باتری:</span>
                                        {{instance.hardware_battery|default_if_none:''}}
                                    </li>
                                    {% if instance.hardware_other %}
                                    <li><span class="font-weight-bold">سایر:</span>
                                        {{instance.hardware_other}}
                                    </li>
                                    {% endif %}
                                </ul>
                                <hr>
                            </li>
                            <li><h5>دوربین اصلی</h5>
                                <ul>
                                    <li><span class="font-weight-bold">وضوح تصویر:</span>
                                        {{instance.back_cam_pic_quality|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">لنز:</span>
                                        {{instance.back_cam_lens|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">وضوح فیلم:</span>
                                        {{instance.back_cam_vid_quality|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">نرخ فیلم برداری:</span>
                                        {{instance.back_cam_fps|default_if_none:''}}
                                    </li>
                                    {% if instance.back_camera_other %}
                                    <li><span class="font-weight-bold">سایر:</span>
                                        {{instance.back_camera_other}}
                                    </li>
                                    {% endif %}
                                </ul>
                                <hr>
                            </li>
                            <li><h5>دوربین جلو</h5>
                                <ul>
                                    <li><span class="font-weight-bold">وضوح تصویر:</span>
                                        {{instance.front_cam_pic_quality|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">لنز:</span>
                                        {{instance.front_cam_lens|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">وضوح فیلم:</span>
                                        {{instance.front_cam_vid_quality|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">نرخ فیلم برداری:</span>
                                        {{instance.front_cam_fps|default_if_none:''}}
                                    </li>
                                    {% if instance.front_camera_other %}
                                    <li><span class="font-weight-bold">سایر:</span>
                                        {{instance.front_camera_other}}
                                    </li>
                                    {% endif %}
                                </ul>
                                <hr>
                            </li>
                            <li><h5>فضای ذخیره‌سازی</h5>
                                <ul>
                                    <li><span class="font-weight-bold">کارت حافظه:</span>
                                        {{instance.storage_type|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">حجم:</span>
                                        {{instance.storage_size|default_if_none:''}}
                                    </li>
                                    {% if instance.storage_other %}
                                    <li><span class="font-weight-bold">سایر:</span>
                                        {{instance.storage_other}}
                                    </li>
                                    {% endif %}
                                </ul>
                                <hr>
                            </li>
                            <li><h5>سایر مشخصات</h5>
                                <ul>
                                    <li><span class="font-weight-bold">نوع سیم کارت:</span>
                                        {{instance.other_sim|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">تعداد سیم کارت:</span>
                                        {{instance.other_sim_count|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">سیستم عامل:</span>
                                        {{instance.other_os|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">رابط کاربری:</span>
                                        {{instance.other_ui|default_if_none:''}}
                                    </li>
                                    <li><span class="font-weight-bold">سنسور‌ها:</span>
                                        {{instance.other_sensors|default_if_none:''}}
                                    </li>
                                    {% if instance.other_specials %}
                                    <li><span class="font-weight-bold">خصوصیات ویژه:</span>
                                        {{instance.other_specials}}
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <i class="far fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio illo veniam sit, porro eius
                        accusantium. Itaque ut tempora veritatis odit aliquid, rerum aperiam. Et, dolorem libero quod
                        blanditiis cum assumenda!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione fugiat quia nam architecto.
                        Culpa consequatur tempora officiis accusantium nulla cupiditate ex in voluptas eos nobis, maxime
                        magnam eveniet aperiam iusto.
                    </div>
                </div>
            </div>
        </div>


        <!-- end tabs -->
    </div>

    <!--Footer-->
    <footer class="footer pt-3 pb-5 mb-md-0">
        <div class="container">
            <div class="connect ml-3">
                <p>
                    <span class="footer-icon"><i class="fas fa-map-marker-alt"></i></span>
                    <span>مازندران</span>
                </p>
                <p>
                    <span class="footer-icon"><i class="fas fa-mobile-alt"></i></span>
                    <span>09123456789</span>
                </p>
                <p>
                    <span class="footer-icon"><i class="fas fa-phone"></i></span>
                    <span>01123456789</span>
                </p>
            </div>
            <hr class="bg-white">
            <div class="footer-icons d-flex justify-content-around">
                <a href="#" class="footer-icon">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" class="footer-icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="footer-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#" class="footer-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" class="footer-icon">
                    <i class="fab fa-google-plus"></i>
                </a>
            </div>
        </div>

    </footer>
    <!-- End Footer-->


    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <!-- script js -->
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/price-fix.js' %}"></script>
</body>

</html>
