:root {
  --mainBlue: #40acf1;
  --transparentBlue: rgba(64, 172, 241, 0.7);
  --mainWhite: #fff;
  --mainBlack: #252422;
  --mainred: #eb5e28;
  --main1: #fffcf2;
  --main2: #403d39;
  --mainYellow: #e3b505;
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir.ttf") format("truetype");
}

body {
  font-family: vazir !important;
  color: var(--mainBlack);
  background: var(--mainWhite);
}

/* REM values to target root element 1REM = 16px */
.form-control {
  background: var(--mainWhite);
}
.form-control:focus {
  background: var(--mainWhite);
}

ul {
  list-style-type: none;
}
/* navbar */
.navbar {
  background: var(--mainWhite);
}
.navbar-icon {
  font-size: 1.5rem;
}
.nav-link {
  color: var(--mainBlack);
  text-transform: capitalize;
}
.nav-link:hover {
  color: var(--mainBlue);
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--mainBlue);
  text-decoration: none !important;
  transition-property: color;
  transition-timing-function: linear;
}
.nav-icon:hover {
  color: var(--mainBlack);
}

.card > img {
  transition: all 1s ease-in-out;
}

.card > img:hover {
  transform: scale(1.1);
}

/*shop*/
.card {
  border-radius: 0 !important ;
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.phone-price {
  background: var(--mainBlue);
  color: var(--mainWhite);
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
  transition: all 1s linear;
}
.phone-price:hover {
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
}

.tab {
  background-color: gray;
}

/*shop card footer*/
.card-red {
  background: var(--mainred);
}
.card-white {
  background: var(--main1);
}
.buy-title {
  color: var(--main1);
  font-size: 1rem;
}
.buy-title2 {
  color: var(--main2);
  font-size: 1rem;
}
.card-icon {
  font-size: 1.5rem;
  color: var(--mainBlue);
}
.fa-fw {
  transition: all 0.5s ease-in-out;
}
.card-icon:hover .fa-fw {
  transform: translateY(-15%);
  color: var(--mainBlue);
}

/* home /contact */
/* Contact */
.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/slider.jpg") center 4rem / cover fixed no-repeat;
}
.contact-input {
  font-size: 1.5rem;
  text-transform: capitalize;
  background: transparent;
  border-color: var(--mainYellow);
  color: var(--mainYellow) !important;
}
.contact-input::placeholder {
  color: var(--mainYellow);
}
.contact-input:focus {
  background: transparent;
  border-color: var(--mainYellow);
}
.contact-btn {
  text-transform: uppercase;
  color: var(--mainYellow);
  border-color: var(--mainYellow);
}

.contact-btn:hover {
  background: var(--mainYellow);
  border-color: var(--mainBlack);
}

/* home carousel*/
.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-clear {
  color: #000;
  border-color: #fff;
  border-width: 2px;
  margin-right: 15px;
}

.btn-clear:hover {
  color: #000;
  background-color: #6699cc;
}

.arrowalign {
  top: 50%;
}

.arrowalign:hover {
  vertical-align: middle;
}

/* login*/
.redborder {
  border: 2px solid #f96145;
  border-radius: 2px;
}

.hidden {
  display: none;
}

.visible {
  display: normal;
}

.colored {
  background-color: #f0eeee;
}

.row {
  padding: 20px 0px;
}

.bigicon {
  font-size: 97px;
  color: #f96145;
}

.contcustom {
  text-align: center;
  width: 300px;
  border-radius: 0.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px auto;
  background-color: white;
  padding: 20px;
}

input {
  width: 100%;
  margin-bottom: 17px;
  padding: 15px;
  background-color: #ecf4f4;
  border-radius: 2px;
  border: none;
}

h2 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #ababab;
}

.btn {
  border-radius: 2px;
  padding: 10px;
}

.med {
  color: #fff;
  font-size: 1.5rem;
}

.btn-grad {
  padding: 15px 45px;
  width: 100%;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 10px;
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  border: none;
  cursor: pointer;
  outline: none;
}
.btn-grad:hover {
  background-position: right center;
}

/*footer*/
.footer {
  background: var(--main2);
  margin-bottom: 90px;
}
.footer-icon {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--mainYellow);
  transition: all 1s ease-in-out;
  margin: 2px;
}
.footer-icon:hover {
  color: var(--mainBlue);
}
.connect {
  color: var(--mainWhite);
}

/*shop*/
.form-check-input {
  margin-left: 10px;
}

/* before login*/
.sign-btn {
  background: var(--mainred);
  color: var(--main1);
  border-radius: 0.5rem;
}
.login-btn {
  border: 1px solid var(--mainred);
  border-radius: 0.5rem;
}
.login-btn:hover {
  background: var(--mainred);
}
.login-btn:hover > a {
  color: var(--main1);
}

/* contact-us.html*/
.contactus {
  padding: 4%;
  height: 400px;
}
.col-md-3 {
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info {
  margin-top: 10%;
}
.contact-info img {
  margin-bottom: 15%;
}
.contact-info h2 {
  margin-bottom: 10%;
}
.col-md-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus {
  box-shadow: none;
}
.contact-form textarea {
  resize: none;
}
